.App {
  text-align: center;
  background: linear-gradient(gray, black);

}

#main {
  min-height: calc(100vh - 6rem); 
}

#footer {
  height: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 1em;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


