.competition {
    max-width: 90% !important; 
    margin-top: 3% !important;
}

.field-container {
    position: relative;
}

.canvas-field {
    width: 100%;
    height: auto;
    border: solid 20px #060;
}

.score-display {
    color: white;
    position: absolute;
    left: 40%;
    right: 30%;
}

.chat-box {
    border: 1px solid #e5e5e5ad;
    display: flex;
    flex-flow: column;
}

.chat-header {
    text-indent: 3%;
    height: 5%;
    border-bottom: 1px solid #e5e5e5ad;
}

/*.chat {
    background: #faf9f9;
    height: 80%;
    text-indent: 3%;
    display: block;
    border-bottom: 1px solid #e5e5e5ad;
    overflow-y: scroll;
}*/

.chat {
    min-height: 0;
    max-height: 80%;
    background: #faf9f9;
    display: flex;
    flex: 1;
    flex-basis: 0.000000001px;
    overflow: auto;
    position: relative;
    border-bottom: 1px solid #e5e5e5ad;
}

.chat-item {
    position: relative;
    font-size: 13px;
    padding: 4px 24px;
    overflow: hidden;
    display: inline-block;
    word-wrap: break-word;
}

.chat-label {
    margin-right: 8px;
    color: grey;
}

.chat-input {
    text-indent: 3%;
}

.chat-text {
    border-width: 0 0 2px;
    
}

.already {
    display: table;
    flex-grow: 1;
}

textarea {
    resize: none;
}