#visit_list .card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.row {
    padding-left: 10%;
    padding-right: 10%;
}

.card-cover {
    min-width: 30rem;
    min-height: 30rem;
}

.card {
    width: 100%;
    height: 100%;
}

.card-img-top {
    height:15rem;
}